<article class="postShorten postShorten--thumbnailimg-top" itemscope itemType="http://schema.org/BlogPosting">
  <div class="postShorten-wrap">
    <a href="">
      <div class="postShorten-thumbnailimg">
        <img alt="" itemprop="image" src="/images/banner.jpg"/>
      </div>
    </a>
    <div class="postShorten-header">
      <h1 class="postShorten-title" itemprop="headline">
        <a class="link-unstyled" href="">
          Willkommen im Atelier SoRa
        </a>
      </h1>
    </div>
    <div class="postShorten-meta post-meta">Specially made for you</div>
    <!-- padding:40px;background-color:#70ad47 -->
    <!-- Wegen Bauarbeiten am Haus ist das Atelier SoRa vom 8. Oktober bis Mitte Dezember -->
    <!-- an der Gewerbestrasse 9 in Egg für Sie geöffnet. Termin nach Vereinbarung -->
    <!-- Tel: 079 462 50 43 -->
    <!-- www.ateliersora.ch -->
    <!-- <div style="padding:20px;background-color:#e8effc"> -->
    <!--   <center><u>13. - 23. November</u> bleibt das Atelier SoRa wegen Weiterbildung geschlossen.</center> -->
    <!-- </div><br> -->
    <div class="postShorten-excerpt" itemprop="articleBody"></div>
  </div>
</article>
